 ACCOUNTS_POINT=http://localhost:4000/api/auth
 BLOG_POINT=http://localhost:3001/api/posts
 COMMENT_POINT=http://localhost:3001/api/posts/comments
 LIKE_POINT=http://localhost:3001/api/posts/likes
 NOTIFY_POINT=http://localhost:3334/api/notify
 PORT=3333
