POSTGRES_USER=admin
POSTGRES_PASSWORD=test
POSTGRES_DB=readme_blog
PGADMIN_DEFAULT_EMAIL=admin@mail.ru
PGADMIN_DEFAULT_PASSWORD=test
PORT=3000
FOTO_UPLOAD_PATH=C:\Readme\2443253-readme-8\project\uploads\foto\
